<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Livros</title>
</head>
<body>
    <section class="container">
        <header class="row">
            <div class="col-12 bg-info d-flex justify-content-center">
                <img src="/img/VIRTUAL ARCADE.jpg">
            </div>
        </header>

        <div class="row">
            <div class="col -12 infor">
                <h1 class="display-1"> Lista de livros</h1>
                <div class="row mt-5">
                    <div class="col-6">
                        <div class="row my-5">
                            <a href="/cadastroLivros" class="btn btn-outline-info"> Inserir Novo Livro</a>
                        </div>                                               
                    </div>
                    <div class="col-6 infor">                        
                        <div >
                            <form action="buscar" method="post"  class="form" id="busca">
                                <div class="row my-4">
                                    <div class="col">
                                        <label>Buscar por título</label>
                                        <input type="text" name="busca" class="form-control">
                                    </div>
                                    <div class="col d-flex align-items-end">
                                        <button type="submit" class="btn btn-outline-secondary">Filtrar</button>
                                    </div>
                                </div>
                            </form>            
                        </div>                        
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Gênero</th>
                            <th>ISBN</th>                            
                        </tr>
                    </thead>
                    <tbody> 
                        <!-- foreach está percorrendo a collection para buscar os itens -->
                        <% if(livros_itens ==""){%>
                            <tr>
                                <td colspan="4" class="alert alert-warning"> Nenhum livro cadastrado!</td>
                            </tr>
                        <%}else{livros_itens.forEach(function(livros){ %>
                            <tr>
                                <!-- aqui efetuamos a chamada para o resultado/valor do banco aparecer -->
                                <td><%=livros.titulo%></td> 
                                <td><%=livros.autor%></td>
                                <td><%=livros.genero%></td>
                                <td><%=livros.isbn%></td>
                                
                                <td>
                                    <a href="/editarLivro/<%=livros._id%>" class="btn btn-info">Editar</a>
                                    <a href="/deletarLivro/<%=livros._id%>" class="btn btn-danger">Excluir</a>   
                                </td>
                            </tr>
                        <% })} %>

                    </tbody>
                    
                </table>
            </div>
        </div>
        <footer class="row mt-2">
            <div class="col-12 jumbotron jumbotron-fluid bg-info">
                <p class="text-center">&copy;2021</p>                
            </div>
        </footer>
    </section>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>

</body>
</html>